* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.header__banner {
  width: 100%;
  background-color: #9dd9d2;
  padding: 10px;
}
.header > .wrapper {
  padding: 15px 10px 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header > .wrapper > a {
  text-decoration: none;
  color: #222;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
}
.header > .wrapper > div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.header > .wrapper > div > a {
  color: #222;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}

.footer > .wrapper {
  padding: 0 10px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.footer > .wrapper > div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.footer > .wrapper > div > a {
  color: #222;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}

.content {
  padding: 10px;
}

/*
About - Home
*/
.about-page > .head {
  align-items: center;
  height: 250px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0;
  position: relative;
}
.about-page > .head:before {
  background-color: #9dd9d2;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 50%;
}
.about-page .head__inner > h1 {
  color: #222;
  display: inline-block;
  font-size: 50px;
  font-weight: 800;
  font-family: sans-serif;
  margin: 0;
  position: relative;
}
.about-page .head__inner > span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #9dd9d2;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: -1px;
}
.about-page > p {
  font-size: 18px;
}
.about-page > p > span {
  height: 0.25em;
  width: 0.25em;
  border-radius: 50%;
  background-color: #9dd9d2;
  display: inline-block;
  margin-left: 0.15em;
  margin-bottom: -1px;
}
.about-page > h2 {
  color: #222;
  display: inline-block;
  font-size: 30px;
  font-weight: 800;
  font-family: sans-serif;
  margin: 0;
  position: relative;
}
.about-page > p:first-of-type {
  margin: 40px 0;
}
.about-page h2 ~ p {
  margin: 5px 0 20px;
}

/* 
CV styles
*/
.cv {
  background-color: white;
  margin: 30px auto;
  max-width: 792px;
  /* min-height: 1123px; */
}

@media print {
  .header {
    display: none;
  }

  .footer {
    display: none;
  }
}
