$bg-primary: #f8f8f8;
$bg-secondary: #9dd9d2;
$coinbase-vivid: #1554f0;
$off-white: #eee;
$dark-blue: #05668d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-primary;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  &__banner {
    width: 100%;
    background-color: $bg-secondary;
    padding: 10px;
  }

  > .wrapper {
    padding: 15px 10px 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    > a {
      text-decoration: none;
      color: #222;
      font-size: 18px;
      font-family: sans-serif;
      font-weight: 600;
      margin: 0;
      letter-spacing: 1px;
    }

    > div {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }

    // menu
    > div > a {
      color: #222;
      font-size: 14px;
      font-family: sans-serif;
      font-weight: 600;
      letter-spacing: 1px;
      text-align: center;
      text-decoration: none;
      margin-right: 10px;
    }
  }
}

.footer {
  > .wrapper {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }

    // menu
    > div > a {
      color: #222;
      font-size: 15px;
      text-align: center;
      text-decoration: none;
      margin-right: 10px;

      em,
      strong {
        display: block;
      }

      strong {
        font-family: sans-serif;
        letter-spacing: 1px;
      }
    }
  }
}

.language__switch {
  position: relative;
  display: inline-block;
  width: 60px;

  /* Hide default HTML checkbox */
  > input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  > .languages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    > span {
      cursor: pointer;
      font-size: 15px;
      display: inline-block;
      line-height: 0.75;
    }

    > span:first-child {
      position: relative;
      font-weight: 700;
      margin-right: 10px;

      &:before {
        background-color: #222;
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        left: calc(100% + 5px);
        width: 1px;
        height: 100%;
      }
    }
  }

  > input:checked + .languages {
    > .en {
      font-weight: unset;
    }
    > .cn {
      font-weight: 700;
    }
  }
}

.content {
  padding: 10px;
}

/*
About - Home
*/
.about-page {
  > .head {
    align-items: center;
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;

    &:before {
      background-color: $bg-secondary;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 50%;
    }
  }
  .head__inner {
    > h1 {
      color: #222;
      display: inline-block;
      font-size: 50px;
      font-weight: 800;
      font-family: sans-serif;
      margin: 0;
      position: relative;
    }

    > span {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: $bg-secondary;
      display: inline-block;
      margin-left: 10px;
      margin-bottom: -1px;
    }
  }

  > p {
    font-size: 18px;

    > span {
      height: 0.25em;
      width: 0.25em;
      border-radius: 50%;
      background-color: $bg-secondary;
      display: inline-block;
      margin-left: 0.15em;
      margin-bottom: -1px;
    }
  }

  > h2 {
    color: #222;
    display: inline-block;
    font-size: 30px;
    font-weight: 800;
    font-family: sans-serif;
    margin: 0;
    position: relative;
  }

  > p:first-of-type {
    background-color: white;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1.6;
    padding-top: 40px;
    padding-right: calc(60% + 40px);
    padding-bottom: 140px;
    padding-left: 40px;
    position: relative;

    &:before {
      background-color: cadetblue;
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 40%;
      width: 60%;
      height: calc(100% - 0px);
      // width: calc(40% - 0px);
    }
  }

  h2 {
    margin-top: 40px;
    padding-left: 40px;
  }
  h2 ~ p {
    margin: 5px 0 20px;
    padding-left: 40px;
  }
  .content__link {
    display: block;
    padding-left: 40px;
    margin-bottom: 30px;
  }
}

/* 
CV styles
*/

.cv {
  background-color: white;
  margin: 30px auto;
  max-width: 792px;
  /* min-height: 1123px; */
}

@media print {
  .header {
    display: none;
  }
  .footer {
    display: none;
  }
}
