@font-face {
  font-family: 'Lato-bold';
  src: url('./fonts/lato-900.woff2') format('woff2');
}
@font-face {
  font-family: 'Lato';
  src: url('./fonts/lato-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Source-Serif';
  src: url('./fonts/source-serif-pro-regular.woff2') format('woff2');
}

/// Font Families ///
$font-sans: 'Lato', 'Arial';
$font-sans-bold: 'Lato-bold', 'Arial';
$font-serif: 'Source-Serif', 'Times New Roman';

$bg-primary: #f8f8f8;
$bg-secondary: #9dd9d2;
$blue-sapphire: #005f73;

body {
  color: #333;
  font-size: 16px;
  font-family: $font-sans;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: #333;
  font-family: $font-sans-bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

h2 {
  font-size: 2rem;
}

a {
  font-family: $font-sans-bold;
  position: relative;
  display: inline-block;
}

.wrapper {
  max-width: 800px;
  padding: 15px 15px 0;
  width: 100%;
}

span.big-dot {
  height: 0.3em;
  width: 0.3em;
  border-radius: 50%;
  background-color: $bg-secondary;
  display: inline-block;
  margin-left: 0.1em;
  margin-bottom: -1px;
}

.header {
  background-color: $blue-sapphire;
  padding: 15px;
  width: 100%;

  > a {
    text-align: left;
    color: white;
    margin: 0 0 10px;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;

    &:hover {
      text-decoration: none;
    }

    &:first-of-type {
      color: white;
      display: block;
      font-size: 4rem;
      letter-spacing: 5px;
      margin-bottom: 20px;
      text-decoration: none;
    }
  }
}

.blog__list {
  > div {
    min-height: 125px;
    padding: 5px 0px;
    margin-bottom: 30px;

    h2 {
      position: relative;
      display: inline-block;

      &:before {
        background-color: $bg-secondary;
        content: '';
        display: block;
        height: 0.25rem;
        left: 0;
        opacity: 0;
        position: absolute;
        top: calc(100% + 0px);
        width: 100%;
      }

      &:hover:before {
        opacity: 1;
      }
    }

    > p {
      &:first-of-type {
        color: $blue-sapphire;
        font-size: 1rem;
        margin-bottom: 5px;
      }
    }
    .post--indented {
      border-left: 10px solid $blue-sapphire;
      padding: 5px 10px;
    }
  }
}

.post {
  padding: 5px 0px 80px;

  h3,
  h4 {
    margin: 30px 0 5px;
  }

  ul {
    margin: 1.25rem 0;
  }

  li {
    margin-bottom: 1rem;
    margin-left: 1.25rem;
  }

  > p {
    &:first-of-type {
      color: $blue-sapphire;
      font-size: 1rem;
      margin-bottom: 5px;
    }
    &:nth-of-type(2) {
      border-left: 10px solid $blue-sapphire;
      background-color: $bg-secondary;
      display: inline-block;
      font-size: 1rem;
      margin-bottom: 50px;
      padding: 10px;
      padding-right: 20px;
    }
  }
}

.about {
  padding: 5px 0px;
  > p {
    line-height: 1.8;
  }
}
